

:root {
    /* Color Setting */
  --color-orange-main: #f57c00;
  --color-purple-main: #9c27b0;
  --color-purple-dark: #6a0080;
  --color-gray-main: #d6d8da;
  --color-gray-light: #f1efec;
  --color-gray-dark: #607d8b;
  --color-gray-darker: rgb(54, 50, 54);
  --color-green-main: #9ccc65;
  --color-white: #ffffff;
    /* Font Size Setting */
  --fontsize-huge: 2rem;
  --fontsize-small: 18px;

    /* Border Radius */
  --border-raidus-big: 20px;
  --border-raidus-medium: 10px;
  --border-raidus-small: 6px;
  --border-radius-xs: 3px;
  
  --duration-default: 350ms;

    /* Box Shadows */
  --box-shadow-small: -3px -3px 3px 0 #ffffff, 3px 3px 3px 0 #aeaec0;    
  --box-shadow-big: -10px -10px 8px 0 #ffffff, 10px 10px 30px 0 #aeaec0;    

    

}
* {
    box-sizing: border-box;
    color: var(--color-white);
}
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    width: 100vw;
}

button {
    width: 150px;
    height: 45px;
    margin: 5px 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: white;
    outline: none;
    border-radius: var(--border-raidus-small);
    border: 0;
    box-shadow: inset -3px -4px 4px rgba(0,0,0,.2);
}

/* Font & Typo Settings */
h1 {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
}

h3 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}

p {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 200;
}

/* ============ NAVBAR ============ */

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    height: 80px;
    width: 100vw;
    padding: 30px 50px;
    background: transparent;
    z-index: 5;
}

.navbar__logo {
    margin-top: 10px;
    height: 38px;
    width: 170px;
    filter: drop-shadow(0px 0px 5px #000);
}

.navbar__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-basis: 60vw;
}

.navbar__menu {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.navbar__menu .navbar__item {
    margin-right: 50px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.navbar__item {
    margin: 0 30px;
    border: none;
    height: 30px;
    width: 30px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.9rem;
    letter-spacing: 1px;
    color: var(--color-white);
}

.navbar__item  a {
    text-decoration: none;
}

.navbar__hamburger {
    display: none;
}


/* ============ FOOTER ============ */

.bottom {
    position: fixed;
    bottom: 0;
    padding: 30px 50px;
    height: ;
    width: 100%;
    color: var(--color-gray-darker);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.bottom__links__social {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
}
.bottom__links__social i {
    font-size: 30px;
    margin-right: 25px;
}
.bottom__links__product {
    letter-spacing: 1px;

}

.link__buy, 
.link__see {
    margin-left: 20px;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
}

/* ============ HOME SECTION ============ */

.section__home {
    background-color: var(--color-gray-darker);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

.home__product__list {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.home__product {
    margin: auto;
    width: 100vw;
    height: 75vh;
    padding: 50px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product__img {
    position: absolute;
    left: 32%;
    top: 17%;
    margin: auto;
    height: 600px;
    width: 600px;
}

.product__content__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.product__description {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 600;
}

.product__category {
    margin-top: 30px;
}
.product__title {
    text-transform: uppercase;
    font-size: 2.5em;
    margin: 10px 0;
}

.breakline {
    margin-top: 20px;
    height: 2px;
    width: 120px;
    background-color: var(--color-white);
}
.product__price {
    width: 100%;
    margin-bottom: 5px;
    font-family: 'Roboto';
    font-size: var(--fontsize-small);
    font-weight: 100;
}


/* ============ DETAIL SECTION ============ */
.section__detail {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
}

.navbar.detail * {
    color: var(--color-gray-darker);
}

.navbar.detail > a > .navbar__logo {
    filter: none;
}

.section__detail * {
    color: var(--color-gray-darker);
}

.detail__content {
    width: 100%;
    height: 75vh;
    padding: 0 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detail__product__img {
    max-height: 600px;
    max-width: 600px;
    border: 1px solid var(--color-gray-main);
    border-radius: var(--border-raidus-small);
}

.detail__product__right {
    margin-left: 30px;
}
.detail__product__right > .product__category {
    line-height: 12px;
}
.detail__product__right > .breakline {
    background-color: var(--color-gray-darker);
    margin-bottom: 5px;
}
.detail__product__right > .product__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
}

.detail__product__right > .product__price, .product__shipping {
    font-size: 1.5em;
    line-height: 13px;
}

.detail__product__right > .product__price {
    font-weight: 600;
    margin-top: 30px;
}

.detail__product__right > .product__shipping {
    margin-bottom: 30px;
} 

.buy__box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buy__count {
    height: 40px;
    width: 40px;
    margin-right: 4px;
    background-color: var(--color-white);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid var(--color-orange-main);
    border-radius: var(--border-raidus-small);
    color: var(--color-orange-main);
}

.count__up, .count__down {
    font-size: 44px;
    margin-right: 4px;
    color: var(--color-orange-main);
}

.add__cart {
    color: var(--color-white);
    background-color: var(--color-purple-dark);
    height: 40px !important;
    margin: 0;
}

.product__text {
    max-height: 27vh;
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    overflow-y: scroll;
    background-color: var(--color-gray-main);
    border-radius: var(--border-raidus-small);
}

.product__text__scroll > p {
    font-size: 1.2em;
}